<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head') %>
<head> <link rel="stylesheet" href="/css/areadocliente.css"></head>
  <body>
  <%- include('./partials/navbar') %>

  <main>
    <section calss="login-content">
            <h2 id="login-title">Faça seu Login</h2>
            <div class="formulario-login">
                <form class="formulario-login-content" action="/areadocliente/login" method="POST">

                    <div class="datas-container">
                        <label class="datas-container" id="email" for="email">E-mail</label>
                        <input class="datas-container" type="email" name="email" id="email" placeholder="E-mail" required>
                        <label class="datas-container" id="senha" for="password">Senha</label>
                        <input class="datas-container" type="password" name="password" id="password" placeholder="Senha" required>
                        <input class="botao-entrar" id="botao-entrar" type="submit" name="Entrar" value="Entrar">
                    </div>
                        <span class="novo-cliente">Novo cliente?</span>
                        <a class="cadastre-se" href= "/areadocliente/cadastro">Cadastre-se aqui →</a>    
                </form>
            </div>
  </main>

  
  <%- include('./partials/footet.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>