<!DOCTYPE html>
<html lang="pt-br">

  <%- include('./partials/head') %>

<body>
  
  <%- include('./partials/navbar') %>
  <main>
        <h1 class="tittle-sobrenos">Sobre a Jazz Bass...</h1>
        <p class="descricao">Somos uma empresa voltada para venda da linha premium de cordas, para trazer a melhor experiência em música através de nossos instrumentos.</p>
        <div><img class="img-sobrenos" src="./img/KakaoTalk_Photo_2020-07-10-16-53-45.webp" alt=""></div>
        
  </main>
  
  <%- include('./partials/footet.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>